<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>About - Lady Gaga</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <h1>About</h1>
    <img src="Gaga at Lollapalooza.jpg" alt="" />
    <p>
      In 2005, Gaga recorded two songs with hip-hop singer Melle Mel for an
      audio book accompanying Cricket Casey's children's novel The Portal in the
      Park. She also formed a band called the SGBand with some friends from NYU.
      They played gigs around New York and became a fixture of the downtown
      Lower East Side club scene. After the 2006 Songwriters Hall of Fame New
      Songwriters Showcase at The Cutting Room in June, talent scout Wendy
      Starland recommended her to music producer Rob Fusari. Fusari collaborated
      with Gaga, who traveled daily to New Jersey, helping to develop her songs
      and compose new material. The producer said they began dating in May 2006,
      and claimed to have been the first person to call her "Lady Gaga", which
      was derived from Queen's song "Radio Ga Ga". Their relationship lasted
      until January 2007. Fusari and Gaga established a company called Team
      Lovechild, LLC to promote her career. They recorded and produced
      electropop tracks, sending them to music industry executives. Joshua
      Sarubin, the head of Artists and repertoire (A&R) at Def Jam Recordings,
      responded positively and, after approval from Sarubin's boss Antonio
      "L.A." Reid, Gaga was signed to Def Jam in September 2006. She was dropped
      from the label three months later[30] and returned to her family home for
      Christmas. She began performing at neo-burlesque shows, which according to
      her represented freedom. During this time, she met performance artist Lady
      Starlight, who helped mold her onstage persona. The pair began performing
      at downtown club venues like the Mercury Lounge, The Bitter End, and the
      Rockwood Music Hall. Their live performance art piece, known as "Lady Gaga
      and the Starlight Revue" and billed as "The Ultimate Pop Burlesque
      Rockshow", was a tribute to 1970s variety acts. They performed at the 2007
      Lollapalooza music festival. Having initially focused on avant-garde
      electronic dance music, Gaga began to incorporate pop melodies and the
      glam rock style of David Bowie and Queen into her songs. While Gaga and
      Starlight were performing, Fusari continued to develop the songs he had
      created with her, sending them to the producer and record executive
      Vincent Herbert. In November 2007, Herbert signed Gaga to his label
      Streamline Records, an imprint of Interscope Records, established that
      month. Gaga later credited Herbert as the man who discovered her. Having
      served as an apprentice songwriter during an internship at Famous Music
      Publishing, Gaga struck a music publishing deal with Sony/ATV. As a
      result, she was hired to write songs for Britney Spears, New Kids on the
      Block, Fergie, and The Pussycat Dolls. At Interscope, musician Akon was
      impressed with her singing abilities when she sang a reference vocal for
      one of his tracks in studio. Akon convinced Jimmy Iovine, chairman and CEO
      of Interscope Geffen A&M, to form a joint deal by having Gaga also sign
      with his own label KonLive, making her his "franchise player". In late
      2007, Gaga met with songwriter and producer RedOne. She collaborated with
      him in the recording studio for a week on her debut album, signing with
      Cherrytree Records, an Interscope imprint established by producer and
      songwriter Martin Kierszenbaum; she also wrote four songs with
      Kierszenbaum. Despite securing a record deal, she said that some radio
      stations found her music too "racy", "dance-oriented", and "underground"
      for the mainstream market, to which she replied: "My name is Lady Gaga,
      I've been on the music scene for years, and I'm telling you, this is
      what's next."
    </p>

    <p>
      By 2008, Gaga had relocated to Los Angeles to work extensively with her
      record label to complete her debut album, The Fame, and to set up her own
      creative team called the Haus of Gaga, modeled on Andy Warhol's Factory.
      The Fame was released on August 19, 2008, and reached number one in
      Austria, Canada, Germany, Ireland, Switzerland and the UK, as well as the
      top five in Australia and the US. Its first two singles, "Just Dance" and
      "Poker Face", reached number one in the United States, Australia, Canada
      and the UK. The latter was also the world's best-selling single of 2009,
      with 9.8 million copies sold that year, and spent a record 83 weeks on
      Billboard magazine's Digital Songs chart. Three other singles, "Eh, Eh
      (Nothing Else I Can Say)", "LoveGame" and "Paparazzi", were released from
      the album; the last one reached number one in Germany. Remixed versions of
      the singles from The Fame, except "Eh, Eh (Nothing Else I Can Say)", were
      included on Hitmixes in August 2009. At the 52nd Annual Grammy Awards, The
      Fame and "Poker Face" won Best Dance/Electronica Album and Best Dance
      Recording, respectively. Following her opening act on the Pussycat Dolls'
      2009 Doll Domination Tour in Europe and Oceania, Gaga headlined her
      worldwide The Fame Ball Tour, which ran from March to September 2009.
      While traveling the globe, she wrote eight songs for The Fame Monster, a
      reissue of The Fame. Those new songs were also released as a standalone EP
      on November 18, 2009. Its first single, "Bad Romance", was released one
      month earlier and went number one in Canada and the UK, and number two in
      the US, Australia and New Zealand. "Telephone", with Beyoncé, followed as
      the second single from the EP and became Gaga's fourth UK number one. Its
      third single was "Alejandro", which reached number one in Finland and
      attracted controversy when its music video was deemed blasphemous by the
      Catholic League. Both tracks reached the top five in the US. The video for
      "Bad Romance" became the most watched on YouTube in April 2010, and that
      October, Gaga became the first person with more than one billion combined
      views. At the 2010 MTV Video Music Awards, she won eight awards from 13
      nominations, including Video of the Year for "Bad Romance". She was the
      most nominated artist for a single year, and the first female to receive
      two nominations for Video of the Year at the same ceremony. The Fame
      Monster won the Grammy Award for Best Pop Vocal Album, and "Bad Romance"
      won Best Female Pop Vocal Performance and Best Short Form Music Video at
      the 53rd Annual Grammy Awards. In 2009, Gaga spent a record 150 weeks on
      the UK Singles Chart and became the most downloaded female act in a year
      in the US, with 11.1 million downloads sold, earning an entry in the
      Guinness Book of World Records. The Fame and The Fame Monster together
      have since sold more than 15 million copies worldwide. This success
      allowed Gaga to start her second worldwide concert tour, The Monster Ball
      Tour, and release The Remix, her final record with Cherrytree Records and
      among the best-selling remix albums of all time. The Monster Ball Tour ran
      from November 2009 to May 2011 and grossed $227.4 million, making it the
      highest-grossing concert tour for a debut headlining artist. Concerts
      performed at Madison Square Garden in New York City were filmed for an HBO
      television special, Lady Gaga Presents the Monster Ball Tour: At Madison
      Square Garden. Gaga also performed songs from her albums at the 2009 Royal
      Variety Performance, the 52nd Annual Grammy Awards, and the 2010 BRIT
      Awards. Before Michael Jackson's death, Gaga was set to take part in his
      canceled This Is It concert series at the O2 Arena in the UK. During this
      era, Gaga ventured into business, collaborating with consumer electronics
      company Monster Cable Products to create in-ear, jewel-encrusted
      headphones called Heartbeats by Lady Gaga. She also partnered with
      Polaroid in January 2010 as their creative director and announced a suite
      of photo-capture products called Grey Label. Her collaboration with her
      past record producer and ex-boyfriend Rob Fusari led to a lawsuit against
      her production team, Mermaid Music LLC. At this time, Gaga was tested
      borderline positive for lupus, but claimed not to be affected by the
      symptoms and hoped to maintain a healthy lifestyle.
    </p>
  </body>
</html>
