<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Lady Gaga</title>
    <link rel="stylesheet" href="style.css" />
  </head>
  <body>
    <header class="header">
      <nav class="nav-bar">
        <ul class="nav-bar-ul">
          <li><a href="/about">About</a></li>
          <li><a href="/gallery">Gallery</a></li>
        </ul>
      </nav>
    </header>
    <h1>Lady Gaga</h1>
    <img
      id="gaga"
      src="Lady Gaga Joanne Tour.jpg"
      alt="Lady Gaga Joanne Tour"
      height="400"
      width="375"
    />
    <p>
      Stefani Joanne Angelina Germanotta (born March 28, 1986), known
      professionally as Lady Gaga, is an American singer, songwriter, and
      actress. She is known for reinventing herself throughout her career and
      for her versatility in numerous areas of the entertainment industry. Gaga
      began performing as a teenager, singing at open mic nights and acting in
      school plays. She studied at Collaborative Arts Project 21, through New
      York University's Tisch School of the Arts, before dropping out to pursue
      a music career. When Def Jam Recordings canceled her contract, she worked
      as a songwriter for Sony/ATV Music Publishing, where Akon helped her sign
      a joint deal with Interscope Records and his own label KonLive
      Distribution in 2007. She rose to prominence the following year with her
      debut album, the electropop record The Fame, and its chart-topping singles
      "Just Dance" and "Poker Face". The follow-up EP The Fame Monster (2009),
      along with the singles "Bad Romance", "Telephone" and "Alejandro", were
      also successful.
    </p>
    <footer class="footer">
      <p>
        Source: <a href="https://en.wikipedia.org/wiki/Lady_Gaga">Wikipedia</a>
      </p>
    </footer>
  </body>
</html>
